<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Wisher</title>
  <link rel="icon" href="img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/mdb.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="/css/addons/datatables.min.css" rel="stylesheet">

</head>
<script>
  //function(){
  //}
</script>
<style>
  body {
    height: 100%;
    background-color: #252525;
  }
  .animated{
    animation-duration: 7s;
  }
  a, p{
    color: #6c757d !important;
  }
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
  background-color: #252525 !important;
  border-bottom: 3px solid #6c757d;
}
.navbar a:hover {
  border-bottom: 3px solid #6c757d;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.navbar {
  background: #212529 !important;
}
</style>
<header>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top lighten-1">
  <a class="navbar-brand" href="#"><strong>Wisher</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
        </a>
      </li>
      <% if(loggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/new">New Event Schedule</a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/features">Features</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown">
        <a class="nav-link p-0 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://img.icons8.com/officel/344/person-male.png" class="rounded-circle z-depth-0"
            alt="avatar image" height="35">
        </a>
        <div class="dropdown-menu" style="background: #252525; border: 1px solid #6c757d;" aria-labelledby="navbarDropdown">
          <% if(loggedIn) { %>
            <a class="dropdown-item" href="/logout">Signout</a>
          <% } else { %>
            <a class="dropdown-item" href="/signin">Signin</a>
          <% } %>
        </div>
      </li>
    </ul>
  </div>
</nav>
</header>
<body>
  <div style="margin-top: 50px;">
    <div class="flex-center flex-column">
      <p class="animated fadeIn text-muted" style="padding-top:250px;">
        <% if(success) { %>
            <p style="font-size: 75px">Woohoo!</p>
            <p style="font-size: 20px"><%= message %></p>
            <!-- <p style="font-size: 20px"><Your event schedule has been added successfully!!!></p> -->
        <% } else { %>
            <p style="font-size: 75px">Oops!</p>
            <p style="font-size: 20px"><%= message %></p>
            <!-- <p style="font-size: 20px">Unable to add your event at the moment!</p> -->
        <% } %>
      </p>
        <!-- <p class="animated fadeIn text-muted bottom" style="padding-top:340px;padding-bottom:0px;">
          <a href="signin" style="padding-right:10px; font-size:20px;">Continue as user</a>
          <a style="padding-left:10px; font-size:20px;" data-content="Guest user has to verify their email id every time!" rel="popover" data-placement="bottom" data-original-title="Info" data-trigger="hover" id="popoverData" href="guest-user">Continue as guest</a>
        </p> -->
    </div>
  </div>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/popper.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <script type="text/javascript"></script>
  <script type="text/javascript" src="js/addons/datatables.min.js"></script>
  <script type="text/javascript">
    $('#popoverData').popover();
  </script>


</body>
</html>
